<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<head>
		<title>BookDB</title>
		<link type="text/css" rel="stylesheet" href="/static/css/style.css" />
	</head>
<div>
    <form action="/add_Book/" method="get">
        <fieldset>
        <legend><h2>您需要添加的书籍信息如下：</h2></legend><br>
        <li>书目ISBN: <input type="text" name="ISBN"></li><br>
        <li>书目名称: &nbsp;<input type="text" name="Title"></li><br>
        <li>作者编号:  &nbsp;<input type="text" name="AuthorID"></li><br>
        <li>书目价格:  &nbsp;<input type="text" name="Price"></li><br>
        <li>出版社: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="Publisher"></li><br>
        <li>出版日期:  &nbsp;<input type="text" name="PublishDate"></li><br>
        <li>简要介绍:  &nbsp;<input type="text" name="Summary" style="height:120px;" ></li><br>
        <input type="submit" value="提交" class="button">
        </fieldset>
    </form>
</div>
<div id="footer" style="text-align:center; font-size:15px;">
	<strong>Copyright © Zeng Yingjie</strong>
</div>
 