<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<head>
		<title>BookDB</title>
		<link type="text/css" rel="stylesheet" href="/static/css/style.css" />
	</head>
<div>
    <form>
      <fieldset>
		<legend><h2>作者信息如下：</h2></legend><br>
        <li>作者编号：{{ author.AuthorID }}</li><br>
        <li>作者姓名： {{ author.Name }}</li><br>
		<li>作者年龄：{{ author.Age }}</li><br>
		<li>所属国家： {{ author.Country }}</li><br>
		<p><a href="/">返回首页</a></p><br>
        </fieldset>
    </form>  
</div>
<div id="footer" style="text-align:center; font-size:15px;">
	<strong>Copyright © Zeng Yingjie</strong>
</div>
</html>